body{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

h1{
  margin: 0;
}

.grid-container{
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}


.card{
  background: red;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/4;
}